@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website can be used as a substitude to the popular Facebook Group "Aubg bay". The website is created in 2016 by one AUBG student - Iliyan Ivanov, majoring in INF and COS. This website will serve as a senior project for him.</p>


