@{
    ViewBag.Title = "Home Page";
}

@section css
{
    <link href="@Url.Content("~/Content/business-frontpage.css")" rel="stylesheet" />
}

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">AUBG BAY</h1>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
  
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-shopping-bag jumbotron-icon" style="font-size: 100px"></i>
            <h2>Buy</h2>
            <p>Here in AUBG BAY you can buy everything from old books to latest tech gadjets. Make sure you consult with the search bar when you start hunting for goodies. </p>
        </div>
        <div class="col-sm-4">
            <i class="jumbotron-icon fa fa-usd" style="font-size: 100px"></i>
            <h2>Sell</h2>
            <p>Bought an expensive book for a BUS course and no longer need it? Here is the place where you can get rid of it. Please, do not limit yourself to books only ;)</p>
        </div>
        <div class="col-sm-4">
            <i class="jumbotron-icon fa fa-arrows-h" style="font-size: 100px"></i>
            <h2>Exchange</h2>
            <p>Maybe you got used to your watch, pair of glasses or you just hate the bracelet you got as a present. Post a classified in AUBG BAY and exchange them for something new.</p>
        </div>
    </div>
    <!-- /.row -->
    
</div>
